.tooltip {
    display: inline-block;
    position: relative;
    border-bottom: 1px dotted #666;
    text-align: left;
}

.tooltip h3 {
    margin: 12px 0;
}

.tooltip .bottom {
    min-width: 200px;
    /*max-width:400px;*/
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 20px;
    color: #666666;
    background-color: #EEEEEE;
    font-weight: normal;
    font-size: 13px;
    border-radius: 8px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    display: none;
}

.tooltip:hover .bottom {
    display: block;
}

.tooltip .bottom img {
    width: 400px;
}

.tooltip .bottom i {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -12px;
    width: 24px;
    height: 12px;
    overflow: hidden;
}

.tooltip .bottom i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    transform: translate(-50%, 50%) rotate(45deg);
    background-color: #EEEEEE;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.tooltip .left {
    min-width: 200px;
    max-width: 400px;
    top: 50%;
    right: 100%;
    margin-right: 20px;
    transform: translate(0, -50%);
    padding: 20px;
    color: #666666;
    background-color: #FFFFE0;
    font-weight: normal;
    font-size: 13px;
    border-radius: 8px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    display: none;
    border: 1px solid #DCA;
}

.tooltip:hover .left {
    display: block;
}

.tooltip .left i {
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -12px;
    width: 12px;
    height: 24px;
    overflow: hidden;
}

.tooltip .left i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: #FFFFE0;
    border: 1px solid #DCA;
}

.tooltip .right {
    min-width: 200px;
    max-width: 400px;
    top: 50%;
    left: 100%;
    margin-left: 20px;
    transform: translate(0, -50%);
    padding: 0;
    color: #EEEEEE;
    background-color: #444444;
    font-weight: normal;
    font-size: 13px;
    border-radius: 8px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s;
}

.tooltip:hover .right {
    visibility: visible;
    opacity: 1;
}

.tooltip .right img {
    width: 400px;
    border-radius: 8px 8px 0 0;
}

.tooltip .text-content {
    padding: 10px 20px;
}

.tooltip .right i {
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -12px;
    width: 12px;
    height: 24px;
    overflow: hidden;
}

.tooltip .right i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 0;
    top: 50%;
    transform: translate(50%, -50%) rotate(-45deg);
    background-color: #444444;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.tooltip .top {
    min-width: 200px;
    max-width: 400px;
    top: -20px;
    left: 50%;
    transform: translate(-30%, -100%);
    padding: 10px 20px;
    color: #ffffff;
    background-color: #009cdc;
    font-weight: normal;
    font-size: 14px;
    border-radius: 8px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    display: none;
}

.tooltip:hover .top {
    display: block;
}

.tooltip .top i {
    position: absolute;
    top: 100%;
    left: 30%;
    margin-left: -15px;
    width: 30px;
    height: 15px;
    overflow: hidden;
}

.tooltip .top i::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #009cdc;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.tooltip .left img {
    width: 300px;
}

.tooltip .top img {
    width: 300px;
}